<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HareInteract - Configurações</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="/static/styles/menu.css">
  <link rel="stylesheet" href="/static/styles/configuracoes.css">

  <script type="module">
    import 'https://unpkg.com/@material/web/textfield/filled-text-field.js?module';
    import 'https://unpkg.com/@material/web/button/filled-button.js?module';
    
  </script>
</head>

<body>
{{template "menu.html"}}
<div class="main-content">
  <h1>Configurações</h1>

  <div class="settings-layout">
    <nav class="settings-sidebar">
      <button class="nav-item active" data-tab="perfil">
        <span class="material-symbols-outlined icon">person</span>
        Perfil
      </button>
      <button class="nav-item" data-tab="organizacao">
        <span class="material-symbols-outlined icon">corporate_fare</span>
        Organização
      </button>
      <button class="nav-item" data-tab="mensagens">
        <span class="material-symbols-outlined icon">chat</span>
        Mensagens
      </button>
      {{ if eq .nivelAcessoUser "Proprietario" "Gerente" }}
        <button class="nav-item" data-tab="usuarios">
          <span class="material-symbols-outlined icon">group</span>
          Usuários
        </button>
      {{ end }}
      <button class="nav-item logout" data-tab="logout">
        <span class="material-symbols-outlined icon">logout</span>
        Logout
      </button>
    </nav>

    <div class="settings-content">
      <div id="perfil" class="tab-content active">
        <h2>Perfil</h2>
        <div class="profile-form">
          <p>Gerencie suas informações pessoais, credenciais de acesso e visualize seu status de conta.</p>
          <form action="/configuracoes/atualizar" method="POST" onsubmit="return confirm('Tem certeza que deseja atualizar seu perfil com os dados informados?')">
            
            <md-filled-text-field label="Nome Completo" name="nome" value="{{ .user.Nome }}"></md-filled-text-field>

            <md-filled-text-field label="Email" name="email" type="email" value="{{ .user.Email }}"></md-filled-text-field>

            <md-filled-text-field label="Username" name="username" value="{{ .user.Username }}"></md-filled-text-field>

            <md-filled-text-field label="Senha" name="senha" type="password" value="{{ .user.Senha }}"></md-filled-text-field>

            <md-filled-button type="submit">Salvar</md-filled-button>
          </form> 
          <form action="/configuracoes/excluir/usuario" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir seu perfil?')">
            <md-filled-button type="submit" class="negative-button">Excluir</md-filled-button>
          </form>
        </div>
      </div>

      <div id="organizacao" class="tab-content">
        <h2>Organização</h2>
        <div class="profile-form">
          <p>Configure as informações e preferências da sua empresa.</p>
          <form action="/configuracoes/atualizarorganizacao" method="POST" onsubmit="return confirm('Tem ccerteza que deseja atualizar a Organização com os dados informados?')">
            <label label="Id" name="id" value="{{ .organizacao.Id }}" type="hidden"></label>
            <md-filled-text-field label="Organização" name="nome" value="{{ .organizacao.Nome }}" ></md-filled-text-field>
            <md-filled-text-field label="CPF/CNPJ" name="documento" value="{{ .organizacao.Cpfcnpj }}" ></md-filled-text-field>
            <md-filled-text-field label="Endereço" name="endereco" value="{{ .organizacao.Cidade }}, {{ .organizacao.Estado }}, {{ .organizacao.Pais }}" ></md-filled-text-field>
            <md-filled-text-field label="Telefone" name="telefone" value="{{ .organizacao.Telefone }}" ></md-filled-text-field>
            <md-filled-text-field label="Data Cadastro" name="dt_cadastro" value="{{ .organizacao.DataCadastro.Format "02/01/2006" }}" readonly></md-filled-text-field>
            <md-filled-button type="submit">Salvar</md-filled-button>
          </form>
          <form  action="/configuracoes/sairOrganizacao" method="POST" onsubmit="return confirm('Tem certeza que deseja sair da organização?')">
            <md-filled-button type="submit" class="negative-button">Sair</md-filled-button>
          </form>
        </div>
      </div>

      <div id="mensagens" class="tab-content">
        <h2>Mensagens</h2>
        <p>Ajuste as configurações de notificação e modelos de mensagens.</p>
        {{ if .mensagem}}
        <div class="scrollable-table-container">
          <table class="mdc-data-table__table">
            <thead>
              <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--non-numeric" role="columnheader">Nº</th>
                <th class="mdc-data-table__header-cell"  role="columnheader">Conteúdo</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Data</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Visualizado</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Ações</th>
              </tr>
            </thead>
            <tbody class="mdc-data-table__content">
              {{ range .mensagem }}
                <tr class="mdc-data-table__content">
                  <td class="mdc-data-table__cell mdc-data-table__cell">{{ .Id }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric">{{ .Mensagem_conteudo }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric">{{ .Data_envio.Format "02/01/2006" }}</td>
                  {{ if .Status }}
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric"><span class="material-symbols-outlined icon">visibility</span></td>
                  {{ else }}
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric"><span class="material-symbols-outlined icon">visibility_off</span></td>
                  {{ end }}
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric" id="actionTable">
                    <form method="POST" action="/configuracoes/excluirMensagem" onsubmit="return confirm('Tem certeza que deseja excluir a mensagem?')">
                      <input type="hidden" name="id" value="{{ .Id }}">
                      <button type="submit"  style="background: none; border: none; padding: 0">
                        <span class="material-symbols-outlined icon">delete</span>
                      </button>
                    </form>
                    {{ if eq .Tipo "Convite" }}
                    <form method="post" action="/configuracoes/aceitarConvite" onsubmit="return confirm('Tem certeza que deseja aceitar o convite?')">
                      <input type="hidden" name="remetente" value="{{ .Id_remetente }}">
                      <button type="submit" style="background: none; border: none; padding: 0;">
                        <span class="material-symbols-outlined icon">check</span>
                      </button>
                    </form>
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
        {{  else }}
        <h3>Nenhuma mensagem encontrada!</h3>
        {{ end }}
      </div>

      <div id="usuarios" class="tab-content">
        <h2>Usuários</h2>
        <p>Gerencie os membros da sua equipe e seus níveis de acesso.</p>
        <div class="scrollable-table-container">
          <table class="mdc-data-table__table">
            <thead>
              <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--non-numeric" role="columnheader">ID</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Nome</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Nivel Acesso</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Data Cadastro</th>
                <th class="mdc-data-table__header-cell" role="columnheader">Ações</th>
              </tr>
            </thead>
            <tbody class="mdc-data-table__content">
              {{ range .usuarios }}
                <tr class="mdc-data-table__content">
                  <td class="mdc-data-table__cell mdc-data-table__cell">{{ .Id }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric">{{ .Nome }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric">{{ .NivelAcesso }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric">{{ .DataCadastro.Format "02/01/2006" }}</td>
                  <td class="mdc-data-table__cell mdc-data-table__cell--non-numeric" style="display: flex; align-items: center; gap: 4px;">
                      <button type="button"
                        class="open-edit-dialog-btn"
                        data-user-id="{{ .Id }}"
                        data-user-nome="{{ .Nome }}"
                        data-user-nivel="{{ .NivelAcesso }}"
                        style="background: none; border: none; padding: 0">
                        <span class="material-symbols-outlined icon" >manage_accounts</span>
                      </button>
                      <form method="POST"  action="/configuracoes/excluirUsuarioOrganizacao" 
                        onsubmit="return confirm('Tem certeza que deseja remover {{ .Nome }} de sua organização?')">
                        <input type="hidden" name="id" value="{{ .Id }}">
                        <button type="submit" style="background: none; border: none; padding: 0">
                          <span class="material-symbols-outlined icon">delete</span>
                        </button>
                      </form>
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
		<br>
        <form id="Frm-inviteUserOrg" action="/configuracoes/convidar" method="POST">
		  <label for="select-nivelAcesso">Selecione o nível acesso do novo usuário:</label>
          <select name="nivelAcesso" id="select-nivelAcesso">
			<option value="Gerente">Gerente</option>
			<option value="Vendedor">Vendedor</option>
			<option value="Suporte">Suporte</option>
			<option value="TI">TI</option>
		  </select>
          <div class="search-container">
            <input type="text" id="searchInput" placeholder="Pesquisar..." class="search-input" name="searchInput">
            <button type="submit" style="background: none; border: none; padding: 0"><span class="material-symbols-outlined add-icon">person_add</span></button>
          </div>
        </form>
      </div>

      <div id="edit-user-dialog"
        class="mdc-dialog"
        role="alertdialog"
        aria-modal="true"
        aria-labelledby="edit-dialog-title">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title" id="edit-user-id-text">Edição de Usuário</h2>
            <form id="user-edit-form" method="POST" action="/configuracoes/salvarUserOrg">
              <input type="hidden" id="edit-user-id" name="id" value="">

              <div class="mdc-dialog__content">

                <div class="mdc-text-field mdc-text-field--filled full-width">
                  <input type="text" id="edit-nome" name="nome" class="mdc-text-field__input" readonly>
                  <label class="mdc-floating-label" for="edit-nome">Nome</label>
                  <div class="mdc-line-ripple"></div>
                </div>

                <div class="mdc-select mdc-select--filled full-width mt-16">
                  <input type="hidden" name="nivelAcesso" id="edit-nivel-acesso-input-hidden"> <div class="mdc-select__anchor" 
                    role="button" 
                    aria-haspopup="listbox" 
                    aria-expanded="false" 
                    aria-labelledby="edit-nivel-acesso-label">
                  <div class="mdc-select__anchor" role="button" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="edit-nivel-acesso-label">
                    
                    <span class="mdc-select__selected-text-container">
                      <span id="edit-nivel-acesso-label" class="mdc-select__selected-text"></span>
                    </span>

                    <span class="mdc-select__ripple"></span>
                    
                    <label class="mdc-floating-label" for="edit-nivel-acesso">Nível Acesso</label>
                    
                    <span class="mdc-select__dropdown-icon">
                      <span class="material-symbols-outlined">arrow_drop_down</span>
                    </span>
                    
                    <span class="mdc-line-ripple"></span>
                  </div>

                  <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                    <ul class="mdc-list" role="listbox">
                      <li class="mdc-list-item" role="option" data-value="Administrador">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Administrador</span>
                      </li>
                      <li class="mdc-list-item" role="option" data-value="Proprietario">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Proprietario</span>
                      </li>
                      <li class="mdc-list-item" role="option" data-value="Gerente">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Gerente</span>
                      </li>
                      <li class="mdc-list-item" role="option" data-value="Vendedor">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Vendedor</span>
                      </li>
                      <li class="mdc-list-item" role="option" data-value="Suporte">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Suporte</span>
                      </li>
                      <li class="mdc-list-item" role="option" data-value="TI">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">TI</span>
                      </li>
                    </ul>
                  </div>  
                </div>
              </div>
              <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                  <div class="mdc-button__ripple"></div>
                  <span class="mdc-button__label">Cancelar</span>
                </button>

                <button type="submit" class="mdc-button mdc-dialog__button mdc-button--raised">
                  <div class="mdc-button__ripple"></div>
                  <span class="mdc-button__label">Salvar Alterações</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>

      <div id="logout" class="tab-content">
        <h2>Sair da Conta</h2>
        <p>Clique no botão abaixo para encerrar sua sessão.</p>
        <md-filled-button onclick="alert('Fazendo logout...')">Confirmar Logout</md-filled-button>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script src="/static/scripts/configuracoes.js"></script>
<script src="/static/scripts/dashboard.js"></script>
</body>
</html>