<aside id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <img src="/static/images/HareInteractLogoColorido.png" alt="Logo do sistema HareInteract" />
    </div>
    <button id="sidebar-toggle-btn" class="sidebar-toggle-btn">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a href="/dashboard" class="menu-link" data-path="dashboard">
        <span class="material-symbols-outlined">dashboard</span>
        <span class="menu-text">Geral</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/contas" class="menu-link" data-path="dashboard/contas">
        <span class="material-symbols-outlined">account_circle</span>
        <span class="menu-text">Contas</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/vendas" class="menu-link" data-path="dashboard/vendas">
        <span class="material-symbols-outlined">trending_up</span>
        <span class="menu-text">Vendas</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/marketing" class="menu-link" data-path="dashboard/marketing">
        <span class="material-symbols-outlined">campaign</span>
        <span class="menu-text">Marketing</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/atendimento" class="menu-link" data-path="dashboard/atendimento">
        <span class="material-symbols-outlined">support_agent</span>
        <span class="menu-text">Atendimento</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/timeline" class="menu-link" data-path="dashboard/timeline">
        <span class="material-symbols-outlined">timeline</span>
        <span class="menu-text">Timeline</span>
      </a>
    </li>
  </ul>
  <ul class="sidebar-menu sidebar-menu-bottom">
    <li>
      <a href="/dashboard/integracoes" class="menu-link" data-path="dashboard/integracoes">
        <span class="material-symbols-outlined">hub</span>
        <span class="menu-text">Integrações</span>
      </a>
    </li>
    <li>
      <a href="/dashboard/configuracoes" class="menu-link" data-path="dashboard/configuracoes">
        <span class="material-symbols-outlined">settings</span>
        <span class="menu-text">Configurações</span>
      </a>
    </li>
  </ul>
</aside>