<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HareInteract</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="stylesheet" href="/static/styles/menu.css">
  <link rel="stylesheet" href="/static/styles/dashboard.css">

  <script type="module">
    import 'https://unpkg.com/@material/web/textfield/filled-text-field.js?module';
    import 'https://unpkg.com/@material/web/checkbox/checkbox.js?module';
    import 'https://unpkg.com/@material/web/button/filled-button.js?module';
  </script>
</head>

<body>
{{template "menu.html"}}

<script src="/static/scripts/dashboard.js"></script>
</body>
</html>