/* Seus estilos de Layout */
        #calendar {
            max-height: 800px;
            max-width: 100%; /* Ajustado para ser mais flexível */
        }

        .calendario-layout{
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }

        .container-agenda {
            
            flex-grow: 1;
            flex-basis: 70%;
            max-width: 70%;
        }

        .container-agendamentos {
            flex-basis: 30%;
            min-width: 300px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: fit-content;
        }

        @media (min-width: 1024px) {
            .container-agenda {
                flex-direction: row; /* Desktop */
            }
        }

        #calendar-container {
            flex: 3;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

/*Estilos de componentes fullCalendar*/

.fc-prev-button, .fc-next-button, .fc-today-button {
    color: white !important;
    background-color: #04c0e2 !important;
    border: none !important;
}

.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
    color: #04c0e2 !important;
    background-color: white !important;
    border: none !important;
}

.fc-dayGridMonth-button.fc-button-active {
    background-color: #04c0e2 !important;
    color: white !important;
}
.fc-timeGridWeek-button.fc-button-active {
    background-color: #04c0e2 !important;
    color: white !important;
}

.fc-timeGridDay-button.fc-button-active {
    background-color: #04c0e2 !important;
    color: white !important;
}